<div class="row">
  <div class="span6">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well" }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
            <legend>Edit Account for <%= current_user.full_name %></legend>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :profile_name %>
          <%= f.input :email %>
          <%= f.input :password, :placeholder => 'Optional' %>
          <%= f.input :password_confirmation %>
          <%= f.input :current_password, :placeholder => 'Confirm for current changes' %>
          <%= f.button :submit, "Update" %>
        </fieldset>
      <% end %>

      <%= link_to "Back", :back %>
</div>
  <div class="span6">
    <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
  </div>
</div>